<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        body{
            background-color: #8EC5FC;
            background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
            
        }
        
    </style>
    <title>Interprete</title>
</head>
<body>
    <div class="container text-center py-5">
        <h1 style="font-family: 'Bebas Neue', cursive; font-size: 50px">INTÉRPRETE</h1>
        <div class="col">
            <form action="/add" method="post">
                <table width="100%">
                    <tr>
                        <td width="7%">
                            <textarea id="txtLineNumbers0" readonly="true" disabled="true"  rows="15" class="form-control"></textarea>							
                        </td>
                        <td width="100%"> 
                            <textarea class="form-control" style="border-color: black; border-radius: 10px; background-color:#F0F0F0; " name="texto" id="texto" cols="30" rows="15">
Variable a -> 3
Variable b -> 0
Variable c -> ""| Variable i ->0|
Cuando(i=0;i<100;i++){
    SiSeCumple(b>a){
        c -> "Terminado"|
    }SiNoSeCumple{
        b -> b + 1|
    }
}
                            </textarea>                          
                        </td>
                    </tr>
                </table>
                <br>
                <button class="btn btn-primary" style="font-size: 20px;">VERIFICAR</button>
            </form>
        </div>
        <br>
        <div class="col">
            <button class="btn btn-primary" onclick="reser()" style="font-size: 20px;">Ver palabras reservadas</button>
        </div><br>
        <textarea name="reserv" style="visibility: hidden;" id="reserv" class="form-control" disabled="true" cols="30" rows="7">
            Se deben respetar las mayúsculas
            if = SiSeCumple, else = SiNoSeCumple,Function = Funcion, while = Durante, for = Cuando, var = Variable

            Operadores
            Separadador(;) = |, Asignación = ->
            No es necesario separar las líneas de código con el separador "|", debido a que el intérprete capta los saltos de línea y espacios en blanco.
        </textarea>
    </div>
    <script>
        function reser(){
            var re = document.getElementById('reserv');
            re.style.visibility = 'visible';
        }
        var strLineasTxtLineNumbers0 = '';

        for (var i = 1; i < 15; i++) {
            strLineasTxtLineNumbers0 += i + '\n';
        }

        document.getElementById("txtLineNumbers0").value = strLineasTxtLineNumbers0;
        document.getElementById("txtLineNumbers0").scrollTop = 0;
    </script>
</body>
</html>